body {
    margin: 0 auto!important;
    width: 990px!important;
    background: rgb(46, 9, 9)!important;
    color: rgb(216, 196, 14)!important;
    font-family: 'Mali', cursive!important;
    font-size: 30px;
    height: 100%;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

h1 {
    text-align: center;
    margin-top: 6%!important;
    font-family: 'Mali', cursive!important;
}

#location {
    display: grid;
    margin-top: 3%!important;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: center;
}

#temperature {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: center;
}

#description {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-content: center;
}

#weatherIcon {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: center;
}

#toggle {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    border-radius: 4px;
    background: rgb(167, 37, 139);
    color: rgb(216, 196, 14);
    width: 42%;
    height: 62%;
    justify-self: center;
}

#toggle:active {
    width: 40%;
    height: 60%;
    font-size: 30%;
}

#time {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    text-align: center;
}