:root {
    --black-han-font: 'Black Han Sans', sans-serif;
}

body {
    margin: 0 auto;
    width: 990px;
    color: white;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    height: 100%;
}

hr {
    height: 20px;
    background-color: white;
    border-radius: 10px;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

h1 {
    text-align: center;
    margin-top: 6%;
    color: rgb(223, 223, 15);
}

#location {
    display: grid;
    margin-top: 3%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: center;
}

#temperature {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
}

#description {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#weatherIcon {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-content: center;
}

#toggle {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    border-radius: 4px;
    border: none;
    background-color: rgb(14, 14, 196);
    color: rgb(248, 248, 239);
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-self: center;
}

#toggle:hover {
    background-color: rgb(65, 124, 201);
}

#toggle:active {
    font-size: 18px;
    height: 99px;
    width: 99px;
}

#time {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    text-align: center;
}

@media all and (max-width: 800px) {
    body {
        width: 50%;
    }

    #location, #temperature, #description, #weatherIcon, #time {
        font-size: 20px;
    }

    #toggle {
        width: 65%;
    }

    h1 {
        font-size: 25px;
        letter-spacing: 8px;
    }

    .container {
        grid-gap: 10px;
    }
}
